table {
  border-collapse: collapse;
  width: 100%;
  height: 350px;
  background-attachment: fixed;
}

th, td {
  text-align: left;
  padding: 8px;
  background-attachment: fixed;
  
}

tr:nth-child(odd){background-color: #ecee60}
tr:nth-child(even){background-color: #e07979}


th {
  background-color: #8dce8f;
  color: rgb(255, 254, 255);
}

h2{
  margin-bottom: auto;
  margin-right: 650px;
  margin-left: 650px;
}

